* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F1F1F1;
}
header {

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 14rem;
}

.title-logo {
    display: flex;
    color: blue;
}

.title-logo span {
    color: black;
    background-color: blue;
}
.search {
    display: flex;
}

.srch {
    width: 30rem;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 3px solid aqua;
    border-right: none;
    color: black;
}

.btn {
    cursor: pointer;
    border: 1px solid aqua;
    color: black;
    background: aqua;
    text-align: center;
    border-radius: 0 5px 5px 0;
}

.go-to {
    display: flex;
    gap: 3rem;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-img {
    background-color: blue;
}

.icon-title {
    color: blue;
}

main {
    display: flex;
    justify-content: space-between;
    
}

.filters {
    
}

.content {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.banner {
    background-color: red;
    position: relative;
    padding: 10px;
}

.image-banner {

}

.title-banner {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.frame-banner {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 20px;
    border: 1px solid white;
}

.best-selling {
    background-color: black;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.selling {
    background-color:brown;
    display: flex;
}

.best-selling-cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    border-radius: 10px;
    background-color: blueviolet;
}

.image-card img {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    height: auto;
}

.info-card {
    border-radius: 0 0 10px 10px;
    background-color: aquamarine;
    padding-left: 10px;
    padding-right: 10px;
}

.name-card {
    display: flex;
    justify-content: space-between;
}

.buy-card {
    display: flex;
    justify-content: space-between;
}

.most-searched {
    display: flex;
    justify-content: space-between;
}

.most-search {
    background-color: black;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searched {
    background-color: brown;
    display: flex;
}

.most-searched-cards {
    display: flex;
    justify-content: space-evenly;
}




